#!/usr/bin/make -f

# Enable additional explot mitigation
# (PIE and *full* RELRO at the time of this writing)
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) $(CPPFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS) $(CPPFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

VALAFLAGS:=$(foreach w,$(CPPFLAGS) $(CFLAGS) $(LDFLAGS),-X $(w))

%:
	dh $@ --dbg-package=pantheon-photos-dbg --with-scour --parallel

override_dh_auto_configure:
	./configure --prefix=/usr --libexec=/usr/lib/pantheon-photos --disable-schemas-compile  --disable-icon-update --unity-support

override_dh_installchangelogs:
	dh_installchangelogs NEWS
