name: CI

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: elementary/docker:unstable

    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: |
          apt update
          apt install -y desktop-file-utils gettext libaccounts-glib-dev libexif-dev libgee-0.8-dev libgeocode-glib-dev libgexiv2-dev libglib2.0-dev libgphoto2-dev libgranite-dev libgstreamer-plugins-base1.0-dev libgstreamer1.0-dev libgtk-3-dev libgudev-1.0-dev libhandy-1-dev libjson-glib-dev libraw-dev librest-dev libsignon-glib-dev libsoup2.4-dev libsqlite3-dev libwebkit2gtk-4.0-dev libwebp-dev libxml2 libxml2-utils meson valac
      - name: Build
        run: |
          meson build
          ninja -C build
          ninja -C build install

  flatpak:
    name: Flatpak
    runs-on: ubuntu-latest

    container:
      image: bilelmoussaoui/flatpak-github-actions:elementary-juno
      options: --privileged

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v5
        with:
          bundle: photos.flatpak
          manifest-path: io.elementary.photos.yml
          run-tests: true
          repository-name: appcenter
          repository-url: https://flatpak.elementary.io/repo.flatpakrepo
          cache-key: "flatpak-builder-${{ github.sha }}"

  lint:
    runs-on: ubuntu-latest

    container:
      image: valalang/lint

    steps:
      - uses: actions/checkout@v3
      - name: Lint
        run: io.elementary.vala-lint -d .
